Source: huginn
Section: non-free:net
Priority: optional
Maintainer: Amok Berserker <amok@codestation.org>
Standards-Version: 3.1.1

Package: huginn
Architecture: i386
Depends: ${shlibs:Depends}
Description: huginn - absolutelly nesslesscary tool.
 huginn - does very much of very many different usefull things ... really.
