# Shell options.

# setopt ignore_filenames '*~'

# Environment variables.

setenv PATH "/usr/local/bin:/usr/bin:/bin"
setenv PATH "${HOME}/bin:${HOME}/usr/bin:${HOME}/usr/local/bin:${PATH}"
rehash

# C++ include paths.

which cxx-includes >& /dev/null && test -z "${CXX_INCLUDES}" !> /dev/null && setenv CXX_INCLUDES "$(cxx-includes)"

setenv C_INCLUDE_PATH "${HOME}/usr/include:${HOME}/usr/local/include:/usr/local/include${MY_C_INCLUDE_PATH}"
setenv CPLUS_INCLUDE_PATH "${HOME}/usr/include:${HOME}/usr/local/include:/usr/local/include${MY_CPLUS_INCLUDE_PATH}"
setenv OBJC_INCLUDE_PATH "${HOME}/usr/include:${HOME}/usr/local/include:/usr/local/include${MY_OBJC_INCLUDE_PATH}"
setenv LIBRARY_PATH "${HOME}/usr/lib:${HOME}/lib:${HOME}/usr/local/lib:/usr/local/lib${MY_LIBRARY_PATH}"
setenv LD_LIBRARY_PATH "${HOME}/usr/lib:${HOME}/lib:${HOME}/usr/local/lib:/usr/local/lib${MY_LD_LIBRARY_PATH}"
setenv PKG_CONFIG_PATH "${HOME}/usr/share/pkgconfig:${HOME}/usr/local/share/pkgconfig:${HOME}/usr/local/lib/pkgconfig${MY_PKG_CONFIG_PATH}"
unsetenv MY_C_INCLUDE_PATH MY_CPLUS_INCLUDE_PATH MY_OBJC_INCLUDE_PATH MY_LIBRARY_PATH MY_LD_LIBRARY_PATH MY_PKG_CONFIG_PATH

setenv PYTHONPATH "${HOME}/src/python"
setenv PYTHONSTARTUP "${HOME}/etc/pythonrc"
setenv PS_FORMAT "stat,uid,gid,pid,ppid,sess,c,pri,nice,rss,sz,vsize,wchan,tname,flags,time,args"
setenv MAILDIR "${HOME}/var/mail/inbox/"
setenv MAIL "${MAILDIR}"
setenv ESCDELAY 0
which colorcxx >& /dev/null && setenv CC "colorcxx" && setenv CXX "colorcxx"
setenv RLWRAP_HOME "${HOME}/.rlwrap"
setenv BC_LINE_LENGTH "1000000000"
setenv MINICOM "-m -c on -t screen -w"
setenv VALGRIND_OPTS "--suppressions=${HOME}/var/valgrind.supp"
setenv CCACHE_DIR "/home/cache/ccache"
setenv CCACHE_UMASK "002"
setenv DISTCC_LOG "${HOME}/var/log/distcc.log"
setenv PREFIX "${HOME}/usr"
setenv SYSCONFDIR "${HOME}/etc"
setenv LOCALSTATEDIR "${HOME}/var"
setenv DEFAULT_TARGET "debug"
setenv TEXMFHOME "${HOME}/var/texmf"
setenv SCREENDIR "${HOME}/.screen"
setenv EDITOR "vim"
setenv LESS '-#2 -igfFRX'
setenv PAGER 'less'
setenv BROWSER 'mozilla-firefox'
setenv LESSCHARSET "utf-8"
setenv LANG "C"
setenv LANGUAGE "C"
setenv LC_CTYPE "pl_PL.UTF-8"
setenv LC_TIME "en_DK.UTF-8"

which tput !> /dev/null | grep -q '^/' !> /dev/null && test $(tput colors) -gt 16 !> /dev/null && setenv COLOR_FIX 's/01;3/9/g'
which dircolors !> /dev/null | grep -q '^/' !> /dev/null && eval $(dircolors -c | sed -e 's/00;36/01;35/g' -e "${COLOR_FIX}")
unsetenv COLOR_FIX
which lesspipe lesspipe.sh !> /dev/null | grep -q '^/' && eval $(which lesspipe lesspipe.sh !> /dev/null | grep '^/' | xargs xargs | sed -e 's/export/setenv/;s/=/ /;')

# Key bindings.

which fzf >& /dev/null && bindkey C-t fzf()
which fzf >& /dev/null && bindkey C-r "history --no-color | fzf_history()"
bindkey F11 cal -3
bindkey S-F11 tty-clock -bcsd 0.01
bindkey F12 dirs
bindkey S-F12 date

# grc forwarders

alias apt "${GRC}" apt
alias apt-get "${GRC}" apt-get
alias df "${GRC}" df
alias dig "${GRC}" dig
alias dnf "${GRC}" dnf
alias docker "${GRC}" docker
alias dpkg "${GRC}" dpkg
alias du "${GRC}" du
alias free "${GRC}" free
alias getent "${GRC}" getent
alias getfacl "${GRC}" getfacl
alias ifconfig "${GRC}" ifconfig
alias id "${GRC}" id
alias iostat "${GRC}" iostat
alias ip "${GRC}" ip
alias iptables "${GRC}" iptables
alias iwconfig "${GRC}" iwconfig
alias last "${GRC}" last
alias lsattr "${GRC}" lsattr
alias lsblk "${GRC}" lsblk
alias lsmod "${GRC}" lsmod
alias lsof "${GRC}" lsof
alias lspci "${GRC}" lspci
alias mount "${GRC}" mount
alias netstat "${GRC}" netstat
alias nmap "${GRC}" nmap
alias route "${GRC}" route
alias rpm "${GRC}" rpm
alias ping "${GRC}" ping
alias printenv "${GRC}" printenv
alias ps "${GRC}" ps
alias ss "${GRC}" ss
alias stat "${GRC}" stat
alias sysctl "${GRC}" sysctl
alias tcpdump "${GRC}" tcpdump
# alias ulimit "${GRC}" ulimit # built-in
alias uname "${GRC}" uname
alias uptime "${GRC}" uptime
alias vmstat "${GRC}" vmstat
alias w "${GRC}" w
alias who "${GRC}" who
alias whois "${GRC}" whois

# end of grc forwarders

# Primary aliases
alias cp cp -i
alias mv mv -i
alias rm rm -i

# directory browsing, file operation shorcuts
alias md mkdir
alias rd rmdir
alias cd.. cd ..
alias ff pydf

# ls shorcuts
alias la ls -Al
alias l ls -l
alias ll l -lh
alias l. ls -A
alias lsd ls -ld *(-/DN)
alias ls ls -F --color=auto --show-control-chars --time-style long-iso

# vim shorcuts
alias vi vim
alias view vi -mRn

# screen shorcuts
alias scl screen -ls
alias scn screen -m
alias scr screen -daARO

# proces managment shorcuts
alias px ps f -U$(whoami) -o "%p %y %a"

# common shorcuts
alias , less
alias . source
alias less less -x2 '-#2' -igfFRX
alias cal ncal -Mb
alias bc bc -l
alias close eject -t
alias emacs emacs -nw
alias gd dig -t ANY +noall +an -x
alias gg grep -nIP --color=yes
alias lk gg -r --exclude-dir='.git' --exclude-dir='.svn' --exclude-dir='build' --exclude-dir='autom4te.cache' --exclude-dir='node_modules' --exclude-dir='.mypy_cache' --exclude='config.sub' --exclude='config.status' --exclude='tempfile.tmp' --exclude='tags' --exclude='*~' --exclude='*.log' --exclude='output.0' --exclude='configure' --exclude='entries' --exclude='tempfile.*.tmp'
alias grep grep -IP --color=auto
alias i pinfo -s -l -t -a
alias p ping -c 1
alias rlwrap rlwrap -s 2000
alias sqlplus rlwrap sqlplus
alias top rlwrap top
alias w 'uname -a;uptime;finger'
alias pygmentize pygmentize -f 256

# misc/complicated shorcuts
alias get wget -nd -a wget.log
alias lynx lynx -assume_charset=utf-8
alias see tail -f wget.log

alias c? i libc

# Try to load local user configuration.
eval source $(text.join( algo.materialize( algo.filter( ( "${HOME}/etc/huginn/init.shell.local", "${HOME}/etc/hgnshrc", "${HOME}/.hgnshrc", "/dev/null" \), fs.exists \), list \), " " \) )

# vim:ft=tcsh
