.text_cell code { padding-left: 0.2em; padding-right: 0.2em; /* color: blue; */ background: #eee; }
.text_cell em code { padding: 0px; font-style: normal; color: brown; background: transparent; }
.text_cell strong code { padding: 0px; font-weight: normal; color: magenta; background: transparent; }
.cm-s-ipython span.cm-keyword  { color: #990; font-weight: bold; }
.cm-s-ipython span.cm-type     { color: #080; font-weight: bold; }
.cm-s-ipython span.cm-builtin  { color: #080; font-weight: bold; }
.cm-s-ipython span.cm-comment  { color: #088; font-style: italic; }
.cm-s-ipython span.cm-import   { color: #00f; }
.cm-s-ipython span.cm-magic    { color: #40a; }
.cm-s-ipython span.cm-number   { color: #e0e; }
.cm-s-ipython span.cm-string   { color: #e0e; }
.cm-s-ipython span.cm-atom     { color: #e0e; }
.cm-s-ipython span.cm-operator { color: #888; }
.cm-s-ipython span.cm-class    { color: #620; }
.cm-s-ipython span.cm-field    { color: #00f; }
.cm-s-ipython span.cm-argument { color: #0b0; }
